<div class="xc-share">
  <a class="xc-share__link share@facebook" href="https://www.facebook.com/sharer.php?u={{url absolute="true"}}" target="_blank" rel="noopener noreferrer">
      {{> "icons/social" name="facebook"}}
      Share
  </a>
  <a class="xc-share__link share@twitter" href="https://twitter.com/intent/tweet?url={{url absolute="true"}}&text={{encode title}}" target="_blank" rel="noopener noreferrer">
      {{> "icons/social" name="twitter"}}
      Tweet
  </a>
</div>