<nav class="social-links">
  <ul>
    {{#if @site.facebook}}
      <li><a href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank" rel="noopener">{{> "icons/social" name="facebook"}}</a></li>
    {{/if}}
    {{#if @site.twitter}}
      <li><a href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank" rel="noopener">{{> "icons/social" name="twitter"}}</a></li>
    {{/if}}
      <li>
        <a href="https://www.tiktok.com/@ggslayley" title="TikTok" target="_blank" rel="noopener">{{> "icons/social" name="tiktok"}}</a>
      </li>
      <li><a href="https://instagram.com/slayleyart" title="Instagram" target="_blank" rel="noopener">{{> "icons/social" name="instagram"}}</a></li>
      <li><a href="https://twitch.tv/ggslayley" title="Twitch" target="_blank" rel="noopener">{{>
      "icons/social" name="twitch"}}</a></li>
      <li><a href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" title="RSS" target="_blank" rel="noopener">{{> "icons/social" name="rss-fill"}}</i></a></li>
  </ul>
</nav>