{{!< default}}

{{#page}}

<section id="about">
  {{> "heros/page2"}}
</section>

<section id="about" class="xc-page">

  <article class="xc-article__content xc-container">
    {{content}}
  </article>

  <aside class="content__social">
    {{> "social"}}
  </aside>
</section>

{{/page}}