{{!< default}}

{{#page}}

<section id="about">
  {{> "heros/page"}}
</section>

<section id="about" class="xc-page">
	<article class="content__block">
    {{content}}
  </article>
  <aside class="content__social">
    {{> "social"}}
  </aside>
</section>

{{/page}}