{{!< default}}

  <section id="shop">
	  <article class="xc-shop" data-flex="row">

      <div class="xc-shop__nav" data-column="2">
        {{> "shop/sidebar.nav"}}
      </div>

      <div class="slayify" data-column="10">

        <div id="jewelry" class="shop-container">
          <h4>Jewelry</h4>
          <div class="collection" id="288380584104"></div>
        </div>

        <div id="fine-art-prints" class="shop-container">
          <h4>Fine Art Prints</h4>
          <div class="collection" id="288380616872"></div>
        </div>

      </div>

      {{> "shop/cart"}}

    </article>
  </section>


{{> "shop/collection"}}