{{!< default}}

{{#page}}
  <section id="contact">
    {{> "heros/page2"}}
  </section>

	<section id="contact" class="xc-page">
    <div class="xc-page__content xc-container" data-grid="2">
      <article>
        {{content}}
      </article>
      <aside>
        <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/{form_id}" method="post">
          <fieldset id="fs-frm-inputs">
            <label for="full-name">Full Name</label>
            <input type="text" name="name" id="full-name" placeholder="Name? ASL?" required="">
            <label for="email-address">Email Address</label>
            <input type="email" name="_replyto" id="email-address" placeholder="your@email.com" required="">
            <label for="message">Message</label>
            <textarea rows="5" name="message" id="message" placeholder="Hello, you have reached the contact form of Slayley.com. Please leave a message after the beep... BEEEEEEEEEEP" required=""></textarea>
            <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
          </fieldset>
          <input type="submit" value="Send">
        </form>
      </aside>
    </div>
    <div class="social-feeds" data-grid="2">
      <div id="instagram">
        <h4>{{> "icons/social" name="instagram" size="h4"}} Instagram</h4>
        {{> "instagram"}}
      </div>
      <div id="tiktok">
        <h4>{{> "icons/social" name="tiktok" size="h4"}} TikTok</h4>
        {{> "tiktok"}}
      </div>
    </div>
	</section>
{{/page}}