{{!< default}}

{{#page}}
  <section id="contact">
    {{> "heros/page"}}
  </section>

	<section id="contact" class="xc-page">
    <div class="xc-page__content xc-container">
        {{content}}
    </div>
	</section>
{{/page}}