{{!< default}}

{{#page}}
  <section id="contact">
    {{> "heros/page"}}
  </section>

	<section id="contact" class="xc-page">
    <div class="xc-page__content xc-container" data-flex="row">
      <article data-column="6">
        {{content}}
        <div class="xc-page__sharing">
          {{> "share" colors="on"}}
        </div>
      </article>
      <aside data-column="6">
        <form id="contact-me" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/xzboyapl" method="post">
          <fieldset id="contact-me-inputs">
            <label for="full-name">Full Name</label>
            <input type="text" name="name" id="full-name" placeholder="Enter your name" required="">
            <label for="email-address">Email Address</label>
            <input type="email" name="_replyto" id="email-address" placeholder="your@email.com" required="">
            <label for="message">Message</label>
            <textarea rows="10" name="message" id="message" placeholder="Type your message here" required=""></textarea>
            <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
          </fieldset>
          <div class="submission">
            <input type="reset" value="Reset">
            <input type="submit" value="Send">
          </div>
        </form>
      </aside>
    </div>
    <div class="social-feeds" data-flex="row">
      <div id="instagram" data-column="6">
        <h4>{{> "icons/social" name="instagram" size="h4"}} Instagram</h4>
        {{> "instagram"}}
      </div>
      <div id="tiktok" data-column="6">
        <h4>{{> "icons/social" name="tiktok" size="h4"}} TikTok</h4>
        {{> "tiktok"}}
      </div>
    </div>
	</section>
{{/page}}

{{#contentFor "scripts"}}
  <script src="{{asset "dist/js/powermode.js"}}"></script>
  <script>
    POWERMODE.colorful = true; // make power mode colorful
    POWERMODE.shake = false; // turn off shake
    document.body.addEventListener('input', POWERMODE);
  </script>
{{/contentFor}}