{{!< default}}

{{#post}}

  <article class="xc-view {{post_class}}">
    {{content}}

    <div class="xc-shop__item" data-shopify-product="7401786376360" data-title="Oingo Boingo" data-price="1.23"></div>
  </article>

{{/post}}