{{!< default}}

<section id="home" class="xc-page">
  <div class="xc-page__content xc-container">

    {{#page}}
      {{content}}
    {{/page}}

    <div class="social-feeds">

      <div class="instagram-info">
        <h2>Connect</h2>
        <p class="text-large">Catch a preview of what's happening on the official <a href="https://instagram.com/slayleyart" target="_blank">Slayley Art <svg class="bi" width="32" height="32" fill="currentColor" style="display: inline; vertical-align: top;"><use xlink:href="/node_modules/bootstrap-icons/bootstrap-icons.svg#instagram"/></svg></a> feed here on the left!</p> <p>Be sure to <a href="https://www.instagram.com/slayleyart/">FOLLOW!</a></p>

        {{> "icons/social" name="facebook" color="bg"}}
        {{> "icons/social" name="twitter" color="bg"}}
        {{> "icons/social" name="reddit" color="bg"}}

      </div>
      <div class="instagram-feed">
        {{> "instagram"}}
      </div>

    </div>

    <div class="xc-postfeed">
      {{#get "posts" limit="6" filter="tag:-art+tag:-shop"}}
        {{#foreach posts}}

            {{> "cards/post"}} {{!-- partials/card.hbs --}}

        {{/foreach}}
      {{/get}}
    </div>

  </div>
</section>

{{> "shop/featured"}}
{{> "shop/cart"}}