{{!< default}}

<section id="home" class="xc-page">
    <div class="xc-page__content">

      {{#page}}
        {{content}}
      {{/page}}

      <div class="xc-postfeed">
        {{#get "posts"}}
          {{#foreach posts}}

              {{> "card"}} {{!-- partials/card.hbs --}}

          {{/foreach}}
        {{/get}}
      </div>

    </div>
</section>
