{{!< default}}

	<section id="shop">
    <article class="xc-shop" data-flex="row">

      <div class="xc-shop__nav" data-column="2">
        {{> "shop/sidebar.nav"}}
      </div>

      <div class="slayify" data-column="10">

        <div id="apparel" class="shop-container">
          <h4>Accessories & Misc</h4>
          <div class="collection" id="289135591592"></div>
        </div>

      </div>

      {{> "shop/cart"}}

    </article>
	</section>


{{> "shop/collection"}}