{{!< default}}

{{#page}}
	<section id="shop" class="xc-page">
    <div class="xc-shop" data-flex="row">
      <nav class="shop-breadcrumbs">
        <ul>
          <li>
            <a href="{{@site.url}}/shop">Shop</a>
          </li>
          <li>
            {{> "icons/utility" name="chevron-right"}}
          </li>
          <li>
            All
          </li>
        </ul>
      </nav>
    </div>
	  <div class="xc-shop" data-flex="row">

      <div class="xc-shop__nav" data-column="2">
        {{> "shop/sidebar.nav"}}
      </div>

      <div class="slayify" data-column="10">
        <div class="collection"></div>
      </div>

      {{> "shop/cart"}}
  	</div>
	</section>
{{/page}}

{{> "shop/products"}}
