{{!< default}}

{{#page}}
	<section class="xc-shop" data-flex="row">

    <div class="xc-shop__nav" data-column="2">
      {{> "shop/sidebar.nav"}}
    </div>

    <div class="slayify" data-column="10">
      <div class="collection"></div>
    </div>

    {{> "shop/cart"}}
	</section>
{{/page}}

{{> "shop/products"}}
