{{!< default}}

{{#page}}
	<section id="shop">
	  <article class="xc-shop" data-flex="row">

      <div class="xc-shop__nav" data-column="2">
        {{> "shop/sidebar.nav"}}
      </div>

      <div class="slayify" data-column="10">
        <div id="new" class="shop-container">
          <h4>Shop</h4>
          <div class="collection" id="288384778408"></div>
        </div>
      </div>

      {{> "shop/cart"}}
  	</article>
	</section>
{{/page}}

{{> "shop/newest"}}
