{{!< default}}

{{#page}}
  <section id="shop">
    {{> "hero/shop"}}
  </section>

	<section class="xc-shop">
	<h2>{{title}}</h2>
		{{content}}

    <div id="products" data-grid="auto"></div>
	</section>
{{/page}}

{{> "shopbox"}}
