// Import Colors and other functions used by global variables
@import "color/open-color";
@import "color/palettes";
@import "color/gradients";
@import "color/social-media";
@import "color/theme";

@import "spacing";
@import "text";
@import "grid";
@import "fonts";
@import "shadows";
