#contact {
  .xc-page__content {
    @apply relative gap-8;
    article {
      @apply px-3;
      h2, h3 {
        font-family: $barlow;
        font-weight: 400;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.333;
      }
      h2 {
        font-size: $lg;
      }
      h3 {
        font-size: $md;
      }
    }
    aside {
      @apply px-3;
    }
  }
  .social-feeds {
    @apply relative mx-auto my-8 max-w-6xl;
  }
  .xc-page__sharing {
    margin-top: 3rem;
  }
}

.instagram-media {
  min-width: none !important;
  max-width: 99% !important;
  width: 100%;
  height: 100%;
  border-radius: 0 !important;
}

.tiktok-embed {
  margin: 0 auto !important;
  max-width: 100% !important;
  width: 99% !important;
  height: 100%;
  border-radius: 0 !important;
}

.submission {
  @apply flex pt-3 items-center justify-start gap-6;
}
