@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500&display=swap');
// font-family: 'Kanit', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600');
// font-family: 'Prompt', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One:wght@400');
// font-family: 'Bakbak One', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
// font-family: 'Michroma', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Abel:400|Advent+Pro:600');
// font-family: 'Abel', sans-serif;
// font-family: 'Advent Pro', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
// font-family: 'Unica One', cursive;
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
// font-family: 'Gruppo', cursive;
@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');
// font-family: 'Metrophobic', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;600&display=swap');
// font-family: 'Barlow', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@200;300;400;600&display=swap');
// font-family: 'Blinker', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;600&display=swap');
// font-family: 'Darker Grotesque', sans-serif;

@include font-face('Uni Sans', '/assets/dist/fonts/uni-sans/UniSansThin', normal, 400, woff2 woff);
@include font-face('Uni Sans Heavy', '/assets/dist/fonts/uni-sans/UniSansHeavy', normal, 800, woff2 woff);
@include font-face('Lighters', '/assets/dist/fonts/lighters/lighters-demo', normal, 400, woff2 woff);
@include font-face('Big Bad Bugs', '/assets/dist/fonts/BigBadBugs', normal, 400, ttf);
@include font-face('Blacklisted', '/assets/dist/fonts/Blacklisted', normal, 400, ttf);
@include font-face('Dreaming of Lilian', '/assets/dist/fonts/DreamingofLilian', normal, 400, ttf);
@include font-face('Graphik Arts', '/assets/dist/fonts/GraphikArts', normal, 400, ttf);
