@import "cards/kg-bookmark";
@import "cards/kg-button";
@import "cards/kg-gallery";
@import "cards/kg-header";
@import "cards/kg-image";
@import "cards/kg-callout";


.xc-page__content :not(.kg-card):not([id]) + .kg-card {
  margin-top: 10vmin;
}

.xc-page__content .kg-card + :not(.kg-card) {
  margin-top: 6vmin;
}

.kg-card {
  @apply relative flex;
  h1, h2, h3, h4, h5 {
    letter-spacing: normal;
  }
}

