@import "cards/kg-bookmark";
@import "cards/kg-button";
@import "cards/kg-gallery";
@import "cards/kg-header";
@import "cards/kg-image";


#featured-items {
  .xc-card {
    &__figure {
      @apply w-1/2 mx-auto;
    }
  }
}

.xc-card {
  @apply relative flex;
  &__figure {
    @apply block relative overflow-clip;
    img {
      @apply w-full h-full object-cover;
    }
    figcaption {
      .xc-card__meta {
        @apply block;
        font-size: $sm;
        font-family: $uni-sans;
        font-weight: 400;
      }
      .xc-card__title {
        display: block;
        font-family: $abel;
        font-size: $lg;
        font-weight: 600;
      }
    }
  }
}


.xc-page__content :not(.kg-card):not([id]) + .kg-card {
  margin-top: 10vmin;
}

.xc-page__content .kg-card + :not(.kg-card) {
  margin-top: 6vmin;
}

.kg-card {
  @apply relative flex;
  h1, h2, h3, h4, h5 {
    letter-spacing: normal;
  }
}

#about {
  p {
    padding: 0 $space-phi 0;
    width: var(--article-3);
  }
  .kg-image-card {
    @apply float-right w-1/3 ml-6;
  }
}
