.xc-footer {
  @apply relative flex flex-col items-start justify-center w-full mt-8;
  padding: $space-e 0 $space-pi;
  background-image: $gr-dark-seas;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  &__nav {
    > nav {
      > ul {
        @apply flex flex-col items-center lg:items-start;
        > li {
          line-height: 1.3;
          @apply flex-1;
          > a {
            font-family: $lighters;
            font-size: $lg;
            font-weight: 400;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  &__meta {
    @apply flex justify-center;
  }
  &__social {
    @apply flex justify-center mt-10 lg:mt-0 lg:justify-end;
  }
  &__colophon {
    @apply flex w-full pt-4 justify-center;
    color: var(--ggs-accent);
    p {
      font-size: $sm;
      font-family: $noto;
    }
  }
}
