.xc-hero {
  @apply relative;
  border-image: linear-gradient(to left, rgba(_slate(4), 0.4), rgba(_slate(4), 0)) 1 0 1 0;
  &__wrapper {
    @include adaptive($container-gutter);
  }
}

#art {
  .xc-hero {
    @apply pt-20;
    background-color: _slayley(9);
    .filter-button {
      @apply relative grid grid-cols-4;
    }
    &__category {
      @apply relative flex justify-center pb-10;
      &:hover {
        .sortFilter-button {
          svg {
            fill: _slayley(1);
            filter: drop-shadow(0 1px 8px var(--ggs-link));
          }
          .category-name {
            color: _slayley(1);
          }
        }
      }
      .sortFilter-button {
        @apply relative flex flex-col items-center justify-center;
        svg {
          @apply w-full h-full lg:h-32 xl:h-48 max-h-full mb-3;
          fill: _slayley(3);
          transition: all 600ms ease;
        }
        .category-name {
          font-size: $lg;
          font-family: $abel;
          color: _slayley(3);
          transition: all 600ms ease;
        }
      }
    }
  }
}

#about, #contact {
  .xc-hero {
    background-color: _slayley(9);
    &__block {
      @apply relative flex items-end justify-start h-96;
      background-size: 75%;
      background-repeat: no-repeat;
      background-position: 100% 50%;
      h3 {
        @apply absolute left-10;
        font-family: $lighters;
        text-transform: uppercase;
        color: var(--ggs-accent);
        &::after {
          content: "?";
          display: inline-block;
          position: relative;
          font-family: $metrophobic;
          font-size: $h3;
          font-weight: 300;
          margin-left: 0.5rem;
          @include loadify(1s, 2s);
        }
      }
      figure {
        @apply relative w-full h-[500px] overflow-hidden;
        max-height: 60vh;
        //clip-path: ellipse(50% 100% at 50% 100%);
        img {
          @apply w-full h-full object-cover object-bottom;
        }
        figcaption {
          @apply absolute bottom-2 right-2;
        }
      }
    }
  }
  &__content {

  }
}

#shop {
  .xc-hero {
    @apply relative py-12 hidden;
    background-color: _slayley(8);
  }
}
