.xc-hero {
  @apply relative;
  border-image: linear-gradient(to left, rgba(_slate(4), 0.4), rgba(_slate(4), 0)) 1 0 1 0;
  &__wrapper {
    @include adaptive($container-gutter);
  }
}

#art {
  .xc-hero {
    background-color: _slayley(9);
    &__category {
      @apply flex justify-center pb-10;
      &:hover {
        svg {
          fill: _slayley(1);
        }
        span {
          color: _slayley(1);
        }
      }
      svg {
        fill: _slayley(3);
        margin-bottom: 0.75rem;
        transition: all 600ms ease;
      }
      span {
        font-size: $lg;
        font-family: $abel;
        color: _slayley(3);
        transition: all 600ms ease;
      }
    }
  }
}

#about {
  .xc-hero {
    background-color: _slayley(9);
    &__block {
      @apply relative flex items-center;
      h3 {
        @apply absolute left-10;
        font-family: $lighters;
        text-transform: uppercase;
        color: var(--ggs-accent);
        &::after {
          content: "?";
          display: inline-block;
          position: relative;
          font-family: $metrophobic;
          font-size: $h3;
          font-weight: 300;
          margin-left: 0.5rem;
          @include loadify(1s, 2s);
        }
      }
      figure {
        @apply relative w-full h-[500px] overflow-hidden;
        max-height: 60vh;
        //clip-path: ellipse(50% 100% at 50% 100%);
        img {
          @apply w-full h-full object-cover object-bottom;
        }
        figcaption {
          @apply absolute bottom-2 right-2;
        }
      }
    }
  }
}

#shop {
  .xc-hero {
    @apply relative py-12 hidden;
    background-color: _slayley(8);
  }
}
