@import "~swiper/css/bundle";

:root {
  @include breakpoint(max, medium) {
    --swiper-navigation-size: 2.5rem;
  }
}

.xc-slider {
  &__post-title {
    color: _slate(7);
  }
  &__post-meta {
    font-family: $uni-sans;
    font-size: $lg;
    font-weight: 600;
  }
  &__content {
    @apply flex items-center h-full;
    padding: $space-phi calc(#{$space-pi} - #{$space-e});
    color: var(--ggs-bg);
    font-weight: 200;
    font-family: $barlow;
  }
  &__post {
    @apply flex flex-col justify-center md:h-full;
    padding: $space-pi 2.718rem $space-phi;
    color: var(--ggs-bg);
    font-weight: 200;
    font-family: $barlow;
    @include breakpoint(min, large) {
      padding: $space-phi calc(#{$space-pi} + #{$space-e});
    }
  }
  &__post-img {
    position: absolute;
    z-index: -1;
    padding: 0;
    max-height: 30vh;
    overflow: hidden;
    opacity: 0.5;
    @include breakpoint(min, medium) {
      position: relative;
      padding: $space-e;
      max-height: 80vh;
      margin-top: 0;
    }
    > img {
      @apply w-full h-full object-cover;

    }
  }
  &__intro-msg {
    padding-top: $spacing-unit;
    padding-left: 5%;
  }
  &__shop-title {
    color: var(--ggs-accent);
    font-family: $barlow;
    text-shadow: var(--ggs-text-3D);
  }
  &__subheading {
    font-family: $barlow;
    font-size: $md;
    font-weight: 400;
    color: _slayley(3);
  }
  &__featured-products {
    @apply relative;
    .collection {
      @apply flex;
      .product[data-layout="featured"] {
        @apply flex flex-col md:flex-row;
        .image-overlay-container {
          @apply flex-1 basis-1/4 h-full max-h-[33rem] p-5 md:p-6 lg:p-8;
        }
        .product-details {
          @apply flex-1 basis-1/3 justify-center;
          .product-title {
            font-size: $xxl;
          }
        }
      }
    }
  }
  &__nav {
    .slide__nav-prev,
    .slide__nav-next {
      --icon-size: 3rem;
      position: absolute;
      top: 50%;
      width: calc(var(--xxxl) / 44 * 27);
      height: var(--xxxl);
      margin-top: calc(0px - var(--xxxl) / 2);
      z-index: 10;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      fill: var(--ggs-accent);
    }
    .slide__nav-prev {
      left: 0;
    }
    .slide__nav-next {
      right: 0;
    }
  }
}
