#contact-me input,
#contact-me select,
#contact-me textarea,
#contact-me fieldset,
#contact-me optgroup,
#contact-me label,
#contact-me #card-element:disabled {
  @apply block w-full p-0 m-0 text-inherit border-0 rounded-none;
  font-family: inherit;
  font-size: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#contact-me label {
  font-size: $sm;
}

#contact-me legend,
#contact-me ::placeholder {
  @apply flex items-baseline pt-2 mb-1;
  font-size: var(--base);
}

/* border, padding, margin, width */
#contact-me input,
#contact-me select,
#contact-me textarea,
#contact-me #card-element {
  @apply px-4 py-3 mb-6 border border-slate-400/30;
  background-color: rgba(_slate(2), 0.25);
}
#contact-me input:focus,
#contact-me select:focus,
#contact-me textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: var(--ggs-accent);
  outline-offset: -1px;
}
#contact-me [type="text"],
#contact-me [type="email"] {
  width: 100%;
}
#contact-me [type="button"],
#contact-me [type="submit"],
#contact-me [type="reset"] {
  @apply pt-3 pb-2 px-4;
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  font-family: $lighters;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 300ms ease;
}
#contact-me [type="button"]:focus,
#contact-me [type="submit"]:focus,
#contact-me [type="reset"]:focus {
  outline: none;
}
#contact-me [type="submit"],
#contact-me [type="reset"] {
  margin-bottom: 0;
}
#contact-me [type="submit"] {
  background-color: var(--ggs-accent);
  color: _slayley(9);
  &:hover {
    background-color: var(--ggs-light);
  }
}
