<div class="xc-hero" id="isoFilters">
  <div class="filter-button">
    <div class="xc-hero__category">
      <button class="sortFilter-button" data-filter=".tag-drawings">
        {{> "icons/mandala-one" name="mandala-one"}}
        <div class="category-name">Drawings</div>
      </button>
    </div>
    <div class="xc-hero__category">
      <button class="sortFilter-button" data-filter=".tag-paintings">
        {{> "icons/mandala-two" name="mandala-two"}}
        <div class="category-name">Paintings</div>
      </button>
    </div>
    <div class="xc-hero__category">
      <button class="sortFilter-button" data-filter=".tag-digital">
        {{> "icons/mandala-three" name="mandala-three"}}
        <div class="category-name">Digital</div>
      </button>
    </div>
    <div class="xc-hero__category">
      <button class="sortFilter-button" data-filter=".tag-uv">
        {{> "icons/mandala-four" name="mandala-four"}}
        <div class="category-name">UV</div>
      </button>
    </div>
  </div>
</div>