<div class="xc-hero" id="isoFilters">
  <div class="filter-button" data-grid="4">
    <div class="xc-hero__category">
      <button class="sortFilter-button" data-filter=".tag-drawings">
        {{> "icons/mandalas" name="mandala-one"}}
        <span>Drawings</span>
      </button>
    </div>
    <div class="xc-hero__category">
      <button class="sortFilter-button" data-filter=".tag-paintings">
        {{> "icons/mandalas" name="mandala-two"}}
        <span>Paintings</span></button>
    </div>
    <div class="xc-hero__category">
      <button class="sortFilter-button" data-filter=".tag-digital">
        {{> "icons/mandalas" name="mandala-three"}}
        <span>Digital</span></button>
    </div>
    <div class="xc-hero__category">
      <button class="sortFilter-button" data-filter=".tag-uv">
        {{> "icons/mandalas" name="mandala-four"}}
        <span>UV</span></button>
    </div>
  </div>
</div>