<div class="xc-hero">
  <div class="parallax-container" style="background-image: url({{ feature_image }});">

  </div>
  <div class="video-overlay"></div>
    <div class="xc-hero__wrapper">
      <div class="xc-slider">
            <section class="xc-slider__featured-products splide" role="group" aria-label="Featured Store Items">
              <div class="splide__track">
                <div class="collection splide__list" id="288687489192"></div>
                <div class="splide__arrows"></div>
              </div>
            </section>
      </div>
    </div>
</div>
