<div class="xc-hero">
  <div class="parallax-container" data-jarallax data-video-src="mp4:https://slayley.sfo3.digitaloceanspaces.com/galaxy-wormhole--med.mp4" style="background-image: url('{{ img_url feature_img }}'); background-size: cover; background-position: center;"></div>
  <div class="video-overlay"></div>
    <div class="xc-hero__wrapper">
      <div class="xc-slider">

          <article class="xc-slider__content" data-flex="row">
            <div class="xc-slider__intro-msg" data-column="4">
              {{#page}}
                {{content}}
              {{/page}}
            </div>
            <div class="xc-slider__featured-products" data-column="8">
              <div class="swiper">
                <div class="collection swiper-wrapper" id="288687489192"></div>
              </div>
              <div class="xc-slider__nav">
                <div class="slide__nav-pagination"></div>
                <div class="slide__nav-prev">
                  {{> "icons/utility" name="chevron-left"}}
                </div>
                <div class="slide__nav-next">
                  {{> "icons/utility" name="chevron-right"}}
                </div>
              </div>
            </div>
          </article>

      </div>
    </div>

</div>
