<header class="xc-hero">
  <div class="xc-hero__block" style="background-image: url('{{img_url feature_image size="xxl"}}');">
    <div class="xc-container">
      <div="xc-hero__content">
        <h2 class="xc-hero__title">{{title}}</h2>
      </div>
    </div>
  </div>
</header>