<header class="xc-hero">
  <div class="xc-hero__block" style="background-image: url('{{img_url feature_image size="xxl"}}');">
    <div class="xc-hero__content">
      <h3 class="xc-hero__title">{{title}}</h3>
    </div>
    <div class="xc-hero__store-items">
      <div class="collection" id="288687489192"></div>
    </div>
  </div>
</header>