@import "~lightgallery/scss/lg-variables";
@import "~lightgallery/scss/lg-mixins";
@import "~lightgallery/scss/lg-fonts";
@import "~lightgallery/scss/lg-zoom";
@import "~lightgallery/scss/lg-share";

@import "lg-theme";

// Core
@import "~lightgallery/scss/lightgallery-core";

$lg-path-fonts: '../fonts/icons';
$lg-path-images: '../images';

$backdrop-opacity: 0.8;
$lg-toolbar-bg: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5)
);
$lg-border-radius-base: 2px;
$lg-theme-highlight: rgb(169, 7, 7);
$lg-theme-color: _slayley(9);

// basic icon colours
$lg-icon-bg: rgba(0, 0, 0, 0.45);
$lg-icon-color: #999;
$lg-icon-hover-color: #fff;

$lg-sub-html-bg: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
);
$lg-sub-html-color: #eee;
