<header class="xc-hero" data-flex="row">
  <div class="xc-hero__block" data-column="6">
    <h2>Featured Products</h2>
  </div>
  <div class="xc-hero__block" data-column="6">
    {{#get "post" filter="featured:true+primary_tag:shop"}}
      {{#foreach posts}}
        <h4>{{title}}</h4>
        {{content}}
      {{/foreach}}
    {{/get}}
  </div>
</header>