@keyframes menuLink--before {
  0% {
     filter: blur(1px);
  }
  50% {
     filter: blur(2px);
  }
  100% {
     filter: blur(1px);
  }
}

@keyframes gradient {
  0% {
     background-position: 0% 50%;
  }
  50% {
     background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}

@keyframes moveDots {
  from {
     transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
     transform: rotate(360deg) scale(18) translateX(20px);
  }
}
