.hidden,
.visuallyhidden,
.hide {
  display: none;
  visibility: hidden;
  backface-visibility: hidden;
  border: 0;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.pointer {
	cursor: pointer;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.burn-overlay {
  @apply flex w-full h-full absolute top-0 left-0;
  background: rgba(_slayley(9), 0.7);
  mix-blend-mode: color-burn;
  animation-name: hueRotatorBlur;
  animation-duration: 12s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.blur-overlay {
  @apply flex w-full h-full absolute top-0 left-0;
  background: $gr-sunset-purple;
  backdrop-filter: blur(4px);
  opacity: 0.25;
}

.rgb-overlay {
  @apply flex w-full h-full absolute top-0 left-0;
  background: rgba(_slayley(5), 0.3);
  mix-blend-mode: color-burn;
  animation-name: hueRotator;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.adjust {
  @include breakpoint(max, small) {
    #art {
      .xc-hero {
        @apply fixed bottom-0 left-0 w-full;
        padding: 0.5rem 1rem;
        z-index: 100;
        transform: translate(0);
        transform-origin: 50% 50%;
        transition: all 500ms ease;
        .filter-button {
          @apply grid-cols-4;
        }
      }
    }
  }
}
