.hidden,
.visuallyhidden,
.hide {
  display: none;
  visibility: hidden;
  backface-visibility: hidden;
  border: 0;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.pointer {
	cursor: pointer;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.rgb-overlay {
  @apply flex w-full h-full absolute top-0 left-0;
  background: rgba(_slayley(5), 0.3);
  mix-blend-mode: color-burn;
  animation-name: hueRotator;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.adjust {
  @include breakpoint(max, medium) {
    margin-top: 10rem;
    transition: all 200ms ease;
  }
}
