.hidden,
.visuallyhidden,
.hide {
  display: none;
  visibility: hidden;
  backface-visibility: hidden;
  border: 0;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.pointer {
	cursor: pointer;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
